<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Delivery Address</th>
      <th>Telephone</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= "#{company.addresses.first.street}, #{company.addresses.first.city}, #{company.addresses.first.state}, #{company.addresses.first.zip}" %></td>
        <td><%= formated_phone(company.telephones.first.number) %></td>
        <td><%= link_to 'Info', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Delete', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
