<h3 id="notice" class="bg-success"><%= notice %></h3>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>
<p>
  <strong>Price:</strong>
  <% @item.unit == "each" ? @unit = @item.unit : @unit = "per #{@item.unit}." %>
  <%= "#{number_to_currency(@item.price)} #{@unit}" %>
</p>
<p>
  <strong>Proportion:</strong>
  <% @item.unit == "each" ? "" : @per_person = "#{@item.unit.pluralize}." %>
  <%= "#{@item.proportion} #{@per_person} per person" %>
</p>
<p>
  <strong>Category:</strong>
  <%= category_decoder(@item.category) %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back to item list', items_path %>
