<header >
	<div class = "navbar-fixed-top">
		<div class = "header-top" >
			<div class="navbar">
				<ul class="nav pull-right">
					<li>
						<%= link_to "Home", root_path, class: current_page?(root_path) ? "active" : "" %>
					</li>
					<li class="dropdown">
						<%= link_to "Customers", root_path, disabled: true, class: active_link(['companies', 'individuals']) %>
						<ul class="dropdown-menu" role="menu">
							<li>
						<%= link_to "Companies", companies_path, class: active_link("companies") %>
							</li>
							<li>
								<%= link_to "Individuals", items_path, class: active_link("individuals") %>
							</li>
						</ul>
					</li>
					<li class = "dropdown">
						<%= link_to "Admin", root_path, disabled: true, class: "#{active_link(['items', 'employees'])} last-link" %>
						<ul class="dropdown-menu" role="menu">
							<li>
								<%= link_to "Employees", items_path, class: active_link("employees") %>
								<%= link_to "Items", items_path, class: params[:controller] == "items" ? "last-link-active active" : "last-link" %>
							</li>
						</ul>
					</li>
				</ul>
			</div>
        </div>
	</div>
</header>